<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="IP" value="127.0.0.1" />
    <add key="Port" value="9208" />
    <add key="GP_RATE" value="0" />
	<add key="TimeForLeague" value="19:30|21:30" />
    <add key="LeagueMoney_Lose" value="3" />
    <add key="LeagueMoney_Win" value="8" />
    <add key="Gold_Rate" value="0" />
    <add key="Gift_Rate" value="0" />
    <add key="Logconfig" value="logconfig.xml" />
    <add key="LanguagePath" value="Languages\Language-br.txt" />
    <add key="SystemNoticePath" value="..\SystemNotice.xml" />
    <add key="conString" value="Data Source=SKELLETONX\SKELLETONX;Initial Catalog=Db_Tank41;Persist Security Info=True;User ID=sa;Password=123456;" />
	<add key="crosszoneString" value="Data Source=SKELLETONX\SKELLETONX;Initial Catalog=Db_Tank;Persist Security Info=True;User ID=sa;Password=123456;" />
    <add key="ServerID" value="4" />
    <add key="GameType" value="1" />
    <add key="AreaID" value="1" />
    <add key="LogPath" value="RecordLog" />
    <add key="ScriptCompilationTarget" value=".\GameServerScripts.dll" />
    <add key="ScriptAssemblies" value="Game.Base.dll,Game.Logic.dll,SqlDataProvider.dll,Bussiness.dll,System.Drawing.dll" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
	<add key="MONEY_MIN_RATE_LOSE" value="500"/>
    <!--Money_Max_Rate-->
    <add key="MONEY_MAX_RATE_LOSE" value="800"/>
    <!--Money_Min_Rate-->
    <add key="MONEY_MIN_RATE_WIN" value="900"/>
    <!--Money_Max_Rate-->
    <add key="MONEY_MAX_RATE_WIN" value="1400"/>
	<!--EXP_Min_Rate-->
    <add key="EXP_MIN_RATE_LOSE" value="1000" />
    <!--EXP_Max_Rate-->
    <add key="EXP_MAX_RATE_LOSE" value="3000" />
    <!--EXP_Min_Rate-->
    <add key="EXP_MIN_RATE_WIN" value="5000" />
    <!--EXP_Max_Rate-->
    <add key="EXP_MAX_RATE_WIN" value="10000" />
	
	<add key="GP_RATE" value="1" />
    <add key="LeagueMoney_Lose" value="3" />
    <add key="LeagueMoney_Win" value="8" />
    <add key="Gold_Rate" value="2" />
    <add key="Gift_Rate" value="3" />
    <add key="Xu_Rate" value="4" />
	
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>