<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<appSettings>
	<!--interface-->
	<add key="Site" value="false" />
	<add key="SiteTitle" value="DanDanTang" />
	<add key="LoginKey" value="QY-16-WAN-0668-2555555-7ROAD-dandantang-love777" />
	<add key="LoginKey_a" value="aaaa-16-WAN-0668-2555555-7ROAD-dandantang-love777" />
    <add key="LoginUrl" value="http://127.0.0.1/request/CreateLogin.aspx" />
    <add key="LoginOnUrl" value="http://127.0.0.1/" />
    <add key="FlashUrl" value="http://127.0.0.1/play.php" />
    <add key="FlashConfig" value="http://127.0.0.1/config.xml" />
    <add key="FlashSite" value="http://127.0.0.1/Flash/" />
    <add key="LoginSessionTimeOut" value="60" />
    <add key="ActiveIP" value="127.0.0.1" />    
    <add key="content2" value="0" />
    <add key="countDb" value="Data Source=SKELLETONX\SQLEXPRESS;Initial Catalog=Db_Count;Persist Security Info=True;User ID=sa;Password=123456" />
    <add key="conString" value="Data Source=SKELLETONX\SQLEXPRESS;Initial Catalog=Db_Tank41;Persist Security Info=True;User ID=sa;Password=123456" />
    <add key="membershipDb" value="Data Source=SKELLETONX\SQLEXPRESS;Initial Catalog=Db_Membership;Persist Security Info=True;User ID=sa;Password=123456" />
  </appSettings>
  <connectionStrings>
		<add name="Db_Tank41ConnectionString" connectionString="Data Source=SKELLETONX\SQLEXPRESS;Initial Catalog=Db_Tank41;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
		<sessionState timeout="45" />
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows" />
		<customErrors mode="Off" defaultRedirect="Error.htm">
			<error statusCode="403" redirect="AccessError.htm" />
		</customErrors>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" /></system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <handlers accessPolicy="Read, Execute, Script" />
    </system.webServer>
</configuration>
